meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="stylesheet", href="/css/layout.css")
link(rel="stylesheet", href="/css/avance.css")
link(rel="stylesheet", href="/css/crearCuenta.css")
link(rel="stylesheet", href="/css/nuevoProyecto.css")
link(rel="stylesheet", href="/css/tareas.css")
link(rel="preconnect" href="https://fonts.gstatic.com")
link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap" rel="stylesheet")
link(rel="preconnect" href="https://fonts.gstatic.com")
link(href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet")
link(rel="icon" href="../../img/icono.ico")
<script src="https://kit.fontawesome.com/93a62e2e8b.js" crossorigin="anonymous"></script>
title #{nombrePagina}